body {
  text-align: center;
  font-family: Open Sans, sans-serif;
  background-color: #8a71c9;
  color:#ffffff;
   margin: 0px;
}

h2{
  color: #2a0074;
  font-size: 40px;
}

.titulo-verde{
  color: #04ff9f;
}

.titulo-vermelho{
  color: #FF9E9E;
}

.titulo-amarelo{
  color: #ffe36d;
}
section{
  background-color: yellow;
  width 50%:
}